@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-image{
  background-image: linear-gradient(rgba(0, 0, 134, 0.722), rgba(0, 0, 134, 0.722)), url("../src/assets/loginBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 150px;
  z-index: 50;
}
